<%= form_for [:user, @phone], builder: FancyFormBuilder, html: {class: 'form--inline'}, remote: true do |f| %>
  <div class="input--icon">
    <i class="ss-icon ss-cell"></i>
    <%= f.submit "Запиши", class: 'button' %>
    <%= f.phone_field :value, required: true, value: @phone.number %>
  </div>
<% end %>
