language: ruby
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.2
  - 2.2.0
script:
  - RAILS_ENV=test bin/setup
  - RAILS_ENV=test bundle exec rake --trace spec
before_script:
  - cp config/database.yml.travis config/database.yml