.centered_form
  = simple_form_for @user.user_roles.new, url: fauna_user_role_assignments_path do |f|
    header
      legend
        h3 = Role.model_name.human
    .form-inputs
      = f.input :start_time, as: :date, html5: true
      = f.input :end_time, as: :date, html5: true
      = f.input :role, collection: Role.all.map { |r| [r.localized_name, r.id] }
    .form-actions
      = f.button :submit
