.timed-roles id="timed-roles-#{user.id}"
  button.btn.btn-sm.btn-primary[type='button' data-bs-toggle='modal' data-bs-target="#modal-timed-roles-#{user.id}"]
    = icon('fa-solid', 'calendar')

  .modal.modal-lg.fade[tabindex="-1" id="modal-timed-roles-#{user.id}" role="dialog" aria-hidden="true"]
    .modal-dialog[role="document"]
      .modal-content
        .modal-header
          h5.modal-title = "#{User.human_attribute_name(:roles)} - #{user.name}"
          div.px-4
            button.btn.btn-success
              = t('views.roles.add', model: Role.model_name.human)
          button.btn-close[data-bs-dismiss="modal" aria-bs-label="Close"]
        .modal-body


          .fw-bold = t('views.roles.current')
          div.d-table
            div.d-table-row
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:role)
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:start_time)
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:end_time)

            - user.user_roles.order(end_time: :desc).each do |ur|
              div.d-table-row
                div.d-table-cell.px-2
                  = ur.role.localized_name
                div.d-table-cell.px-2
                  - if !ur.start_time.nil?
                    = ur.start_time
                div.d-table-cell.px-2
                  - if !ur.end_time.nil?
                    = ur.end_time
                div.d-table-cell.px-2
                  button.btn.btn-danger.btn-sm
                    = icon('fa-solid', :close)
          hr
          .fw-bold = t('views.roles.future')
          div.d-table
            div.d-table-row
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:role)
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:start_time)
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:end_time)

            - user.user_roles.unscoped.future.order(end_time: :desc).each do |ur|
              div.d-table-row
                div.d-table-cell.px-2
                  = ur.role.localized_name
                div.d-table-cell.px-2
                  - if !ur.start_time.nil?
                    = ur.start_time
                div.d-table-cell.px-2
                  - if !ur.end_time.nil?
                    = ur.end_time
                div.d-table-cell.px-2
                  button.btn.btn-danger.btn-sm
                    = icon('fa-solid', :close)
          hr
          .fw-bold = t('views.roles.expired')
          div.d-table
            div.d-table-row
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:role)
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:start_time)
              div.d-table-cell.px-2.font-weight-bold
                = UserRole.human_attribute_name(:end_time)

            - user.user_roles.unscoped.expired.order(end_time: :desc).each do |ur|
              div.d-table-row
                div.d-table-cell.px-2
                  = ur.role.localized_name
                div.d-table-cell.px-2
                  - if !ur.start_time.nil?
                    = ur.start_time
                div.d-table-cell.px-2
                  - if !ur.end_time.nil?
                    = ur.end_time
