<section class="messages container" id="presence-wrapper">
  <div id="presence" class="medium-12">
    <header><h1>Кой e в Лаб'а?</h1></header>
    <ul>
      <%= render(partial: 'user', collection: @users) || render(partial: 'no_users') %>
    </ul>
  </div>
</section>
