<section>
  <div>
    <header>
      <h2>Кой e в Лаб'а?</h2>
    </header>
    <div class="team-container">
      <%= render(partial: 'user', collection: @users) || render(partial: 'no_users') %>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
