<%= form_for(resource, as: resource_name, url: password_path(resource_name), builder: FancyFormBuilder, html: {method: :post, class: 'medium-6 medium-push-3'}) do |f| %>
  <h2>Забравена парола?</h2>

  <div class="input--icon">
    <i class="ss-icon ss-mail"></i>
    <%= f.email_field :email, autofocus: true %>
    <span class="tooltip">&nbsp;</span>
  </div>

  <footer class="form__footer">
    <div><%= f.submit "Изпрати ми инструкции за промяна", class: 'button' %></div>
    <%= render "devise/shared/links" %>
  </footer>
<% end %>
