%inline-block {
  display: inline-block; 
  vertical-align: baseline; 
  *display: inline; 
  *vertical-align: auto;
  *zoom: 1;
}



.input-container {
  padding: 0;
  position: relative;
}

.input-container .icon-ph {
  position: absolute;
  z-index: 10;
  padding: 10px;
  line-height: 2em;
  font-size: 16px;
  opacity: 0.5;
}

.input-container input[type=text] {
  padding-left: 30px;
}

.inline-form {
  padding: 0;
  display: inline-block;
}

.inline-form input[type=text], input[type=tel] {
  font-family: "Monospace";
  vertical-align: top;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  display:inline-block;
  width: 64%;
  margin:0;
  padding: 0px;
  font-size: 1em;
  float: none;
  height: 1.5em;
}

.inline-form input[type=submit] {
  display: inline-block;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0;
  padding: 0;
  width: 30%;
  float: none;
  margin-left: -5px;
  height: 1.5em;
}

.input-with-icon {
  display: block;
  position: relative;
  .ss-icon {
    position: absolute;
    background: rgba(0,0,0,.1);
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #bbb;
    color: #666666;
    height: 100%;
    line-height: 3.2em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 3em;
  }
  input {
    padding: 1em 1em 1em 4.2em;
    &[type="text"],
    &[type="tel"] {
      height: auto;
    }
    &[type="submit"] {
      height: 2.95em;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      height: 100%;
    }
  }
}


