<%= form_for [:user, @computer], html: {class: 'form--inline'}, builder: FancyFormBuilder, remote: true do |f| %>
  <div class="input--icon">
    <i class="ss-icon ss-wifi"></i>
    <%= f.submit "Запиши", class: 'button' %>
    <%= f.text_field :value, required: true %>
  </div>
<% end %>
