tr
  td = user.name
  td = user.username
  td = user.email
  td.roles_column
    = render partial: '/fauna/role_assignments/role_assignments', locals: {user: user}
  td.temporary_roles
    = link_to fauna_user_role_assignments_path(user.id), :class => 'btn btn-sm btn-primary' do
      = icon('fa-solid', 'calendar')
    / button.btn.btn-sm.btn-primary[type='button' data-bs-toggle='modal' data-bs-target="#modal-timed-roles-#{user.id}"]
      = icon('fa-solid', 'calendar')
    / = render partial: '/fauna/role_assignments/temporary_roles', locals: {user: user}
