- content_for(:title) { User.model_name.human(count: 2) }
section.container
  header.row
    .col-sm-12
      h2
        = User.model_name.human(count: 2)
  .users
    .row
      .col-sm-12
        table.table.table-hover.table-sm.m-2.table-responsive
          thead
            tr
              th.col-2[scope='col'] = User.human_attribute_name(:name)
              th.col-2[scope='col'] = User.human_attribute_name(:username)
              th.col-2[scope='col'] = User.human_attribute_name(:email)
              th.col-6[scope='col'] = User.human_attribute_name(:roles)
          tbody#user_table
            = render @users
