.navbar-brand {
    margin: 0 !important;
    padding: 0;

    img {
        padding: 5px 0px;
        @media (max-width: $screen-sm-min) {
            padding: 5px;
        }

    }

  &.active {
    background-color: #0c7cd5;
  }
}
