.current_status_indicator {
    @extend .thumbnail;
    @extend .text-center;
    width: 350px;
    font-size: 2em;
    padding: 20px;
    margin: 20px auto 0 auto;
    i.fa { font-size: 72pt; }

    @media (max-width: $screen-sm-min) {
        width: 250px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        width: 350px;
        i.fa { font-size: 36pt; }
    }

    @media (min-width: $screen-lg-min) {
        width: 200px;
        height: 200px;
        i.fa { font-size: 72pt; }
    }

}

.lights_status_indicator {
    @extend .text-center;
    font-size: 2em;
    padding: 20px;
    margin: 20px auto 0 auto;
    span.fa-stack { font-size: 72pt; }

    @media (max-width: $screen-sm-min) {
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        span.fa-stack { font-size: 36pt; }
    }

    @media (min-width: $screen-lg-min) {
        span.fa-stack { font-size: 72pt; }
    }
}

.large_button_group {
    @extend .text-center;
    margin: 0 auto;
    padding: 20px;

    @media (min-width: $screen-md-max) {
        form { display: inline-block; }
    }
}

.lights_button, .door_button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;

    @media (max-width: $screen-sm-min) {
        width: 250px;
        margin-top: 20px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        width: 350px;
        i.fa { font-size: 36pt; }
        margin-top: 30px;
    }

    @media (min-width: $screen-lg-min) {
        width: 200px;
        height: 200px;
        i.fa { font-size: 72pt; }
        margin: 10px;
    }
}