@use 'sass:map';
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';


.current_status_indicator {
    //@extend .thumbnail;
    @extend .text-center;
    width: 350px;
    font-size: 2em;
    padding: 20px;
    margin: 20px auto 0 auto;
    i.fa { font-size: 72pt; }

    @include media-breakpoint-only(xs) {
        width: 250px;
    }

    @include media-breakpoint-only(sm) {
        width: 350px;
        i.fa { font-size: 36pt; }
    }

    @include media-breakpoint-up(lg) {
        width: 200px;
        height: 200px;
        i.fa { font-size: 72pt; }
    }

}

.large_button_group {
    @extend .text-center;
    margin: 0 auto;
    padding: 20px;

    @include media-breakpoint-up(lg) {
        form { display: inline-block; }
    }
}
