@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap';

.role-assignments {
    @extend .btn-group;
    white-space: nowrap;
    .btn {
        float: none;
        display: inline-block;
    }
}