// Notifications

@mixin notification-mixin($color) {
  @extend .notice;
  color: darken($color, 20%);
  border-color: $color;
  background-color: lighten($color, 25%);
  text-shadow: 0 1px 0 lighten($color, 35%);
}


// Responsiveness

@mixin generate-grid($size) {
  // Generates a grid for the specified view

  @for $i from 1 through $columns {
    .#{$size}-#{$i} {
      width: ((99 / $columns) * $i) * 1%;
    }

    .#{$size}-push-#{$i} {
      margin-left: ((99 / $columns) * $i) * 1%;
    }
  }
}


@mixin breakpoint($type, $fallback:false, $parent:true) {
  // Adds styles for the class only for the specified view

  @if $type == small {
    @media (min-width: $break-small) {
      @content;
    }
  }

  @if $type == medium {
    @media (min-width: $break-medium) {
      @content;
    }
  }

  @if $type == large {
    @media (min-width: $break-large) {
      @content;
    }
  }

  @if $fallback {
    @if $parent {
      .#{$fallback} & {
        @content;
      }
    } @else {
      .#{$fallback} {
        @content;
      }
    }
  }
}
