@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'paper_variables';
@import 'bootstrap-sprockets';

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/panels";
@import "bootstrap/close";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import 'paper';
@import 'roboto';
@import 'open_sans';
@import 'fonts/akrobat';

@import 'components/flash_message';
@import 'components/footer';
@import 'components/present_users';
@import 'components/no_users';
@import 'components/login';
@import 'components/nested_fields';
@import 'components/network_devices';
@import 'components/role_assignments';
@import 'components/large_buttons';
@import 'fauna/user_list';
@import 'components/header';
@import 'components/page_actions';
@import 'components/record_actions';

html.turbolinks-progress-bar::before {
    background-color: #ff9800 !important;
}
