@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'paper_variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'paper';
@import 'roboto';
@import 'open_sans';

.present_user {
    @extend .col-sm-3;
    @extend .col-md-3;
    @extend .center-block;

    @media (max-width: $screen-xs-max) {
        max-width: 256px;
    }

    .caption {
        @extend .text-center;
    }

    img {
        @extend .img-responsive;
    }

    .links {
        @extend .btn-group;
        @extend .btn-group-sm;
    }
}

.no_users {
    margin-top: 30px;
    @extend .col-sm-4;
    @extend .col-sm-offset-4;
    @extend .text-center;

    i {
        font-size: 150px;
    }
    .caption {
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 64px;

    @media (max-width: $screen-xs-max) {
        margin-bottom: 128px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: #f5f5f5;

    @media (max-width: $screen-xs-max) {
        height: 128px;
    }

    p {
        margin: 20px 0;
        @extend .text-muted;
        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
    }

    p.right {
        @media (min-width: $screen-xs-max) {
            text-align: right;
        }
    }
}