ul.devices {
    margin: 0;
    padding: 0;
}

.devices li {
    list-style: none;
    margin: 5px;
    padding: 0;
    line-height: 30px;
    vertical-align: top;
    white-space: nowrap;
}

.new_device_link {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.inline-form {
    padding: 0;
    display: inline-block;
}

.inline-form input[type=text], input[type=tel] {
    font-family: "Monospace";
    vertical-align: top;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display:inline-block;
    width: 64%;
    margin:0;
    padding: 0px;
    font-size: 1em;
    float: none;
    height: 1.5em;
}

.inline-form input[type=submit] {
    display: inline-block;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0;
    padding: 0;
    width: 30%;
    float: none;
    margin-left: -5px;
    height: 1.5em;
}


.authentication {
  section { 
    width: 50%;
  }

  .devise-form {
      max-width: 100%;
  }

  .inline-form {
    display: block;
    position: relative;
    .ss-icon {
      position: absolute;
      background: rgba(0,0,0,.1);
      border-radius: 5px 0 0 5px;
      border-right: 1px solid #bbb;
      color: #666666;
      height: 2.9em;
      line-height: 3.2em;
      text-align: center;
      text-shadow: 0 1px 0 #fff;
      width: 3em;
    }
    input {
      padding: .8em;
      padding-left: 3.5em;
      &[type="text"],
      &[type="tel"] {
        height: auto;
      }
      &[type="submit"] {
        height: 2.95em;
        padding: 0;
      }
    }
  }
}


