.devise-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.devise-form .devise-form-heading,
.devise-form .checkbox {
  margin-bottom: 10px;
}
.devise-form .checkbox {
  font-weight: normal;
}
.devise-form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.devise-form .form-control:focus {
  z-index: 2;
}



.devise-form .form-group input:first-of-type {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.devise-form .form-group input:not(:first-of-type):not(:last-of-type) {
  margin-bottom: -1px;
  border-radius: 0;
}

.devise-form .form-group input:last-of-type {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
