@font-face {
    font-family: 'Akrobat';
    src: font-url('akrobat/Akrobat-Thin.subset.eot');
    src: font-url('akrobat/Akrobat-Thin.subset.eot?#iefix') format('embedded-opentype'),
         local('Akrobat Thin'), local('Akrobat-Thin'),
         font-url('akrobat/Akrobat-Thin.subset.woff2') format('woff2'),
         font-url('akrobat/Akrobat-Thin.subset.woff') format('woff'),
         font-url('akrobat/Akrobat-Thin.subset.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: font-url('akrobat/Akrobat-Light.subset.eot');
    src: font-url('akrobat/Akrobat-Light.subset.eot?#iefix') format('embedded-opentype'),
         local('Akrobat Light'), local('Akrobat-Light'),
         font-url('akrobat/Akrobat-Light.subset.woff2') format('woff2'),
         font-url('akrobat/Akrobat-Light.subset.woff') format('woff'),
         font-url('akrobat/Akrobat-Light.subset.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: font-url('akrobat/Akrobat-Regular.subset.eot');
    src: font-url('akrobat/Akrobat-Regular.subset.eot?#iefix') format('embedded-opentype'),
         local('Akrobat Regular'), local('Akrobat-Regular'),
         font-url('akrobat/Akrobat-Regular.subset.woff2') format('woff2'),
         font-url('akrobat/Akrobat-Regular.subset.woff') format('woff'),
         font-url('akrobat/Akrobat-Regular.subset.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: font-url('akrobat/Akrobat-SemiBold.subset.eot');
    src: font-url('akrobat/Akrobat-SemiBold.subset.eot?#iefix') format('embedded-opentype'),
         local('Akrobat SemiBold'), local('Akrobat-SemiBold'),
         font-url('akrobat/Akrobat-SemiBold.subset.woff2') format('woff2'),
         font-url('akrobat/Akrobat-SemiBold.subset.woff') format('woff'),
         font-url('akrobat/Akrobat-SemiBold.subset.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: font-url('akrobat/Akrobat-Bold.subset.eot');
    src: font-url('akrobat/Akrobat-Bold.subset.eot?#iefix') format('embedded-opentype'),
         local('Akrobat Bold'), local('Akrobat-Bold'),
         font-url('akrobat/Akrobat-Bold.subset.woff2') format('woff2'),
         font-url('akrobat/Akrobat-Bold.subset.woff') format('woff'),
         font-url('akrobat/Akrobat-Bold.subset.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: font-url('akrobat/Akrobat-ExtraBold.subset.eot');
    src: font-url('akrobat/Akrobat-ExtraBold.subset.eot?#iefix') format('embedded-opentype'),
         local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'),
         font-url('akrobat/Akrobat-ExtraBold.subset.woff2') format('woff2'),
         font-url('akrobat/Akrobat-ExtraBold.subset.woff') format('woff'),
         font-url('akrobat/Akrobat-ExtraBold.subset.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: font-url('akrobat/Akrobat-Black.subset.eot');
    src: font-url('akrobat/Akrobat-Black.subset.eot?#iefix') format('embedded-opentype'),
         local('Akrobat Black'), local('Akrobat-Black'),
         font-url('akrobat/Akrobat-Black.subset.woff2') format('woff2'),
         font-url('akrobat/Akrobat-Black.subset.woff') format('woff'),
         font-url('akrobat/Akrobat-Black.subset.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}