link rel="apple-touch-icon-precomposed" href="#{asset_path 'favicon-152.png'}"
link rel="icon" sizes="32x32" href="#{asset_path 'favicon-32.png'}"
link rel="apple-touch-icon-precomposed" sizes="152x152" href="#{asset_path 'favicon-152.png'}"
link rel="apple-touch-icon-precomposed" sizes="144x144" href="#{asset_path 'favicon-144.png'}"
link rel="apple-touch-icon-precomposed" sizes="120x120" href="#{asset_path 'favicon-120.png'}"
link rel="apple-touch-icon-precomposed" sizes="114x114" href="#{asset_path 'favicon-114.png'}"
link rel="apple-touch-icon-precomposed" sizes="72x72" href="#{asset_path 'favicon-72.png'}"
