nav class="py-0 navbar navbar-expand-lg #{content_for?(:nav_color) ? yield(:nav_color) : 'navbar-dark bg-primary'}"
  .container
    = link_to root_url, class: "navbar-brand", active: false do
      = image_tag 'initlab-logo.svg', class: 'logo', height: '47px', alt: 'Fauna'
    button.navbar-toggler data-target="#navbar-collapse" data-toggle="collapse" type="button"
      span.navbar-toggler-icon

    .navbar-collapse.collapse#navbar-collapse
      .navbar-nav.flex-grow-1
        - if user_signed_in? and UserPolicy.new(current_user, nil).index?
          = link_to fauna_users_path, class: "nav-link #{'active' if current_page?(fauna_users_path)}" do
            => icon('fa-solid', :users)
            = t('views.navigation.labbers')
      .navbar-nav.navbar-right
        - unless user_signed_in?
          .nav-item.dropdown
            button.dropdown-toggle.nav-link#langdropdown type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'
              => icon('fa-solid', :flag)
              = {bg: "БГ", en: "EN"}[I18n.locale]
              span.caret<
            .dropdown-menu aria-labelledby="langdropdown"
              - I18n.available_locales.each do |locale|
                = link_to({bg: "БГ", en: "EN"}[locale], "?locale=#{locale}", class: 'dropdown-item')
        - if user_signed_in?
          .nav-item.dropdown
            / a.nav-link.dropdown class="#{'active' if current_page?(edit_user_registration_path) || current_page?(user_network_devices_path)}"
            button.dropdown-toggle.nav-link#accountdropdown type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'
              / a.dropdown-toggle data-toggle="dropdown" href="#"
              => icon('fa-solid', :user)
              = t('views.navigation.account')
              b.caret<
            .dropdown-menu aria-labelledby="accountdropdown"
              = link_to t('views.navigation.view_edit'), edit_user_registration_path, class: 'dropdown-item'
              = link_to t('views.navigation.network_devices'), user_network_devices_path, class: 'dropdown-item'
              = link_to t('views.navigation.oauth_application_management'),  oauth_applications_path, class: 'dropdown-item'
              = link_to t('views.navigation.oauth_token_management'),  oauth_authorized_applications_path, class: 'dropdown-item'
              hr.dropdown-divider role="separator"
              = link_to t('views.navigation.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item'
        - else
          a.nav-link
            = link_to new_user_session_path, class: "nav-link #{'active' if controller_name == 'sessions'}" do
              => icon('fa-solid', 'sign-in') 
              = t('views.navigation.sign_in')
